<!--
This Page will have forget password stuff
-->

<!-- 
Just for forget password 
-->
<%= stylesheet_link_tag    'forget_password' %>
<%= javascript_include_tag 'forget_password' %>

<div id="forgetPassword_body">
	To reset your password, please enter your email address.
	<%= form_tag sessions_path, :name => 'forgetPassword_form' do %>
    	<%= text_field_tag "session[email]", nil, placeholder: "Email", class: "form-control" %>
  		<%= button_tag "Continue", class: "btn btn-primary submit-btn" %>
  	<% end %>
</div>
