<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :who_created_id %><br>
    <%= f.text_field :who_created_id %>
  </div>
  <div class="field">
    <%= f.label :datetime_created %><br>
    <%= f.datetime_select :datetime_created %>
  </div>
  <div class="field">
    <%= f.label :who_updated_id %><br>
    <%= f.text_field :who_updated_id %>
  </div>
  <div class="field">
    <%= f.label :datetime_updated %><br>
    <%= f.datetime_select :datetime_updated %>
  </div>
  <div class="field">
    <%= f.label :based_in_id %><br>
    <%= f.text_field :based_in_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
