<!DOCTYPE html>
<html>
  <head>
    <title>HangoutScout</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- JQuery -->
    <%= javascript_include_tag 'jquery-1.11.1.min' %>

    <!-- Bootstap -->
    <%= stylesheet_link_tag    'bootstrap' %>
    <%= javascript_include_tag 'bootstrap' %>

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="headerBar" role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div id="header_logo" class="navbar-header">
        	<%= link_to "hangoutScout", root_path, :class => "navbar-brand" %>
        </div>
        <% if session[:user_id] != nil %>
	        <div id="searchBar" class="navbar-form navbar-left">
	        	<div class='form-group'>
	        		<input type='text' id='searchForGroupsEvents' class='form-control' placeholder="Search"/>
	        		<div id="searchResultsBox" style='display:none'>
	        			<div class='panel panel-default'>
	        				<div class='panel-body'>
	        					<div id='searchResultsEvents'></div>
	        					<div id='searchResultsGroups'></div>
	        				</div>
	        			</div>
	        		</div>
	        	</div>
	        </div>
        <% end %>
        <div id="intro_action" class="navbar-right">
            <% if session[:user_id] != nil %>
            	<div class="dropdown navbar-text">
            		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            			<%= User.find(session[:user_id]).firstname %> <%= User.find(session[:user_id]).lastname %>
        			</a>
        			<ul class="dropdown-menu">
    					<li><%= link_to 'View Profile', user_path(session[:user_id]) %></li>
    					<li><a href="#">Preferences</a></li>
           	 			<li role="separator" class="divider"></li>
    					<li><%= link_to 'Logout', log_out_path %></li>
    				</ul>
            	</div>
            <% else %>
            	<%= form_tag sessions_path, :name => 'login_form', :class => 'navbar-form' do %>
            		<div class='form-group'>
	            		<%= text_field_tag "session[email]", nil, placeholder: "Email", class: "form-control" %>
            		</div>
            		<div class='form-group'>
	          			<%= password_field_tag "session[password]", nil, placeholder: "Password", class: "form-control" %>		
            		</div>
            		<div class='form-group'>
	     	     		<%= button_tag "Log in", class: "btn btn-default submit-btn" %>
            		</div>
				<% end %>
		      	<!-- Alert here -->
		        <!-- <div id="login_error" class="alert" style="display:none"></div> -->
        	<% end %>
        </div>
    </div>
    <!-- Landing Flash Notice -->
    <% if flash[:signup_notice] %>
        <p class="alert alert-info banner bg-success col-xs-12"><%= flash[:signup_notice] %></p>
        <script>
            dat_landing.ui.hideAlert();
            // had to put a delay for some reason 
            setTimeout(dat_landing.ui.openLogin, 10);
        </script>
    <% end %>
    <% if flash[:signup_error] %>
        <p class="alert alert-error banner bg-danger col-xs-12"><%= flash[:signup_error] %></p>
        <script>
            dat_landing.ui.hideAlert();
            // had to put a delay for some reason
            setTimeout(dat_landing.ui.scrollToSignup, 10);
        </script>
    <% end %>

    <div id="applicationBody" class="container-fluid">
    	<%= yield %>
    </div>

    <div id="footer" class="col-xs-12">
      <!-- Footer -->
      <div class="borderbox col-xs-12 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        Footer
      </div>
    </div>

</body>
  	<script>
		theme.init();
	</script>
</html>
